* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 10px;
    position: relative;
}

.cookies-wrapper {
    z-index: 9999;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
}

.cookies {
    width: 98%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: silver;
    opacity: .8;
}

.cookies i:hover,
.cookies button:hover {
    cursor: pointer;
}

.cookies i {
    font-size: 25px;
    color: white;
    margin-right: 1rem;
}

.cookies span,
.cookies a {
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;
    color: white;
    height: 20px;
}

.cookies a {
    text-decoration: underline;
}

.hideCookiesContainer {
    opacity: 0;
}

.cookies button {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ad0000));
    background-image: linear-gradient(to bottom, #ff0000, #ad0000);
    border: none;
    font-size: 15px;
    padding: 4px 20px;
    border-radius: 18px;
    margin-right: 1rem;
    color: white;
}

header {
    padding: 15px 0;
    z-index: 10;
    position: relative;
    background: transparent;
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-menu .logo {
    width: 200px;
}

.navigation ul {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-bar {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: white;
    padding: 5px 20px;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border-radius: 20px 0 0 20px;
}

.nav-bar ul {
    margin-bottom: 0;
}

.nav-bar li {
    list-style-type: none;
    margin: 7px 0;
    font-weight: 900;
}

.nav-bar li:hover a {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    cursor: pointer;
}

.nav-bar a {
    text-decoration: none;
    color: lightslategrey;
    font-size: 12px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.navigation li {
    font-family: OpenSans;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: center;
    list-style-type: none;
    padding-right: 1rem;
}

.navigation li:last-of-type {
    border-radius: 30.5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ad0000));
    background-image: linear-gradient(to bottom, #ff0000, #ad0000);
    padding: 8px 25px;
}

.navigation li:last-of-type:hover {
    cursor: pointer;
}

.form-container {
    display: none;
}

.register-form {
    margin-top: 1rem;
}

.showOverlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.showOverlay .register-container {
    background-color: gray;
    opacity: .5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
}

.showOverlay .form-container {
    display: block;
    border-radius: 70px;
    top: 20vh;
    position: relative;
    right: 0;
    opacity: 1;
    z-index: 100;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
}

.showOverlay .fa-times {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: -10px;
    font-weight: normal;
}

.showOverlay header {
    width: 60%;
    margin: 30px auto 0;
    color: silver;
    font-weight: 400;
}

.showOverlay h1 {
    margin-right: 25px;
}

.showOverlay main {
    height: 250px;
}

.showOverlay .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.showOverlay .row {
    width: 80%;
}

.showOverlay input {
    padding-left: 10px;
    border-radius: 20px;
    transition: all .2s linear;
    width: 70%;
    border: none;
    border-bottom: 1px solid silver;
}

.showOverlay input:focus {
    padding-left: 15px;
    outline: none;
}

.showOverlay i {
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
    line-height: 40px;
}

.showOverlay .button-container {
    display: flex;
}

.showOverlay button {
    background-image: linear-gradient(to bottom, #ff0000, #ad0000);
    border: none;
    padding: 10px 45px;
    border-radius: 20px;
    color: silver;
    margin: 0 auto;
    font-size: 15px;
}

.showOverlay .close-overlay:hover {
    cursor: pointer;
}

.multiple-selects {
    width: 90% !important;
}

.multiple-selects select {
    outline: none;
    border: 1px solid silver;
    border-radius: 20px;
}

.navigation a {
    color: #ffffff;
    height: inherit;
    text-decoration: none;
}

.happy-hour {
    background: url('./images/back.jpg');
    height: 88vh;
    position: relative;
    top: -100px;
    left: 0;
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -100px;
}

.center img {
    width: 800px;
}

.happy-hour button {
    border: none;
    font-size: 1.5rem;
    color: white;
    padding: 10px 85px;
    border-radius: 50px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ad0000));
    background-image: linear-gradient(to bottom, #ff0000, #ad0000);
    font-weight: 900;
}

.register {
    background-color: white;
    position: relative;
}

.register .container {
    padding-top: 1px;
    text-align: center;
    margin-bottom: 100px;
}

.register .title-text {
    font-size: 34.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #212121;
    margin-top: 50px;
}

.register .red-line {
    width: 58px;
    height: 2.5px;
    background-color: #d10000;
    margin: 20px auto;
}

.register .content-text {
    color: #86878b;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-size: .8rem;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 3rem;
}

.register-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content-circle .circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ad0000));
    background-image: linear-gradient(to bottom, #ff0000, #ad0000);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
    font-weight: bold;
}

.content-circle h4 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.content-circle p:first-of-type,
.content-circle p:last-of-type {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #d10000;
    text-transform: uppercase;
    margin-bottom: 0;
}

.register button {
    border: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ad0000));
    background-image: linear-gradient(to bottom, #ff0000, #ad0000);
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    padding: 20px 30px;
    border-radius: 50px;
    position: absolute;
    bottom: -33px;
}

.information {
    background-color: black;
}

.information .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.information .fruits {
    width: 600px;
    margin: 100px;
}

.information .most-played {
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.box {
    padding: 0 10px;
}

.box img {
    width: 100%;
}

.game-type {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #313131;
}

.game-type.row {
    margin-left: 0;
    margin-right: 0;
}

.game-type span,
.game-type i {
    color: white;
}

.game-type span {
    padding-left: 5px;
    padding-right: 0px;
}

.game-type i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    padding-right: 5px;
}

.general-footer {
    padding-top: 3rem;
    background-color: black;
}

.general-footer button {
    border: none;
    background-color: #818181;
    margin-right: .4rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 10px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.general-footer .fa {
    font-size: 1.1rem;
}

.general-footer button:first-of-type {
    background-color: #881429;
}

.general-footer button:hover {
    background-color: #d9d9d9;
}

.social-icons {
    margin-bottom: 1.5rem;
}

.payments h6,
.official-partners h6 {
    text-align: center;
    color: #e7b920;
    font-weight: 600;
    margin-bottom: 1rem;
}

.payments-container {
    margin-bottom: 1.5rem;
    width: 550px;
}

.payments-container img {
    width: 100%;
}

.partners-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.partners-container img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    margin: 0 .7rem .7rem .7rem;
    height: 75px;
}

.official-partners {
    margin-bottom: 1.5rem;
}

.gambling-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.gambling-container img:first-of-type {
    margin-right: .6rem;
}

.general-footer nav {
    display: none;
}

.general-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.general-footer li {
    height: 12px;
    list-style-type: none;
    padding: 0 6px;
    border-right: 1px solid #959595;
    line-height: 10px;
    font-size: 10px;
}

.general-footer a {
    color: #959595;
}

.text-container {
    font-size: 10px;
    color: #959595;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
    max-width: 100%;
    padding: 0 15px;
}

.winbet-logo-small {
    margin-bottom: 1.5rem;
}

-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin: 0 auto;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
.partners-container img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    margin: 0 .7rem .7rem .7rem;
    height: 75px;
}

.official-partners {
    margin-bottom: 1.5rem;
}

.gambling-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.gambling-container img:first-of-type {
    margin-right: .6rem;
}

.general-footer nav {
    display: none;
}

.general-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.general-footer li {
    height: 12px;
    list-style-type: none;
    padding: 0 6px;
    border-right: 1px solid #959595;
    line-height: 10px;
    font-size: 10px;
}

.general-footer a {
    color: #959595;
}

.text-container {
    font-size: 10px;
    color: #959595;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
    max-width: 100%;
    padding: 0 15px;
}

.winbet-logo-small {
    margin-bottom: 1.5rem;
}